@model TaskItemCreateViewModel

<form asp-controller="TaskItem" asp-action="Create" method="post">
     <div class="mb-3 row">
    <label asp-for="Title" class="col-sm-2 col-form-label"></label>
    <div class="col-sm-10">
      <input class="form-control" asp-for="Title" />
      <span asp-validation-for="Title"></span>
    </div>
  </div>
  <div class="mb-3 row">
    <label asp-for="Description" class="col-sm-2 col-form-label"></label>
    <div class="col-sm-10">
      <input class="form-control" asp-for="Description" />
      <span asp-validation-for="Description"></span>
    </div>
  </div>
  <div class="mb-3 row">
    <label asp-for="Status" class="col-sm-2 col-form-label"></label>
    <div class="col-sm-10">
      <select class="form-control" asp-for="Status" asp-items="@Html.GetEnumSelectList<TaskItemStatus>()"></select>
          <span asp-validation-for="Status"></span>
    </div>
  </div>

    <button class="btn btn-primary" type="submit">Create</button>
</form>

 