@model List<TaskItem>

<a asp-controller="TaskItem" asp-action="Create" class="btn btn-primary">Create Task</a>
<h1>Tasks</h1>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <td>Title</td>
            <td>Description</td>
            <td>Status</td>
            <td></td>
        </tr>
    </thead>
    <tbody>
@foreach (var task in Model)
{
    <tr>
        <td>@task.Title</td>
        <td>@task.Description</td>
        <td>
            @if (task.Status == TaskItemStatus.Todo)
            {
                <i class="fa-solid fa-list fa-2x"></i>                
            }
            else if (task.Status == TaskItemStatus.InProgress)
            {
                <span class="item-inprogress"><i class="fa-solid fa-check fa-2x"></i></span>
            }
            else
            {
                <span><i class="fa-solid fa-list-check fa-2x"></i></span>
            }
        </td>

        <td>
         <div class="btn-group" role="group" aria-label="Basic mixed styles example">
         <a asp-controller="TaskItem" asp-action="Edit" asp-route-Id="@task.Id">
             <button type="button" class="btn btn-outline-warning">Edit</button>
         </a>
         <a asp-controller="TaskItem" asp-action="Delete" asp-route-Id="@task.Id">
        <button type="button" class="btn btn-outline-danger">Delete</button>
        </a>
        </div>
        </td>
        
    </tr>
}
</tbody>
</table>